<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
    <body>
        <h1>Add Book</h1>
        <div class="container">
            <form action="added_book" method="GET" class="pure-form pure-form-aligned">
            <%= csrf_meta_tag %>
                <fieldset>
                    <div class="pure-control-group">
                        <label for="aligned-name">Title</label>
                        <input name="title" type="text" id="aligned-name" placeholder="Title" />
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-password">Author</label>
                        <input name="author" type="text" id="aligned-password" placeholder="Author" />
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-email">Genre</label>
                        <input name="genre" type="text" id="aligned-email" placeholder="Genre" />
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-foo">Price</label>
                        <input name="price" type="text" id="aligned-foo" placeholder="Price" />
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-foo">Publish Date</label>
                        <input name="publish_date" type="text" id="aligned-foo" placeholder="Publish Date" />
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>